/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root[data-mantine-color-scheme='dark'] {
    --mantine-color-dark-text: '#ffffff' !important
}
a {
    text-decoration: none;
    color: black;
}
.card-event-bg-dark {
    background-color: #29313E !important;
}

.card-event-bg-light {
    background-color: #f0f0f0 !important;
}

.text-purple-important {
    color: #5669FF !important
}
.text-white-important {
    color: #ffffff !important;
}